/* body {
     font-family: Arial, sans-serif;
     margin: 20px;
     padding: 20px;
     background-color: #f8f9fa;
    }
    
    #dataContainer {
     background-color: #ffffff;
     padding: 20px;
     border-radius: 5px;
     box-shadow: 0 0 5px rgba(0,0,0,0.1);
    }
     */

     body {
          font-family: Arial, sans-serif;
          margin: 20px;
          padding: 20px;
          background-color: #f8f9fa;
      }
      
      #dataContainer {
          background-color: #ffffff;
          padding: 20px;
          border-radius: 5px;
          box-shadow: 0 0 5px rgba(0,0,0,0.1);
          margin-bottom: 20px; /* Added space below the container */
      }
      